/* CSS para menu operativo */
/*-------------- CUERPO, CABECERA Y FOOTER ------------------------*/
body
{
	background:  url(../images/backs/back_body_operativo.jpg);
}
div#sub_cabecera { 
	background-image:url(../images/backs/back_sub_operativo.jpg);
}
div#sub_cabecera a {
	color: #095b77;
	text-decoration: none;
}
div#sub_cabecera a:hover {
	color: white;
}

/* -------------------   OPERATIVO   ------------------------------ */

div .clip
{
	background-color: #77eed2;
	border: 1px solid #77eed2;
}
div .clip a
{
	color: #006600;
}
div .clip a:hover
{
	color:#ffffff;
}

div .clip ul li
{
	background-image:  url(../images/backs/li_clips_operativo.gif);
}
div .clip ul ul
{
	border-left-color: #53a693;
}

div#path_operativo
{
	color: #005a46;
	background-color: #1de1b3;
	/* background-image: url(C:/resin-2.1.9-g9/doc/images/lo2_gfx/background/background_path_operativo.jpg); */
	background-repeat: repeat-x;
	float: left;
	width: 100%;
	margin-right: -3px;
	
}
/* ------------  fin operativo   ---------------*/ 



